.compat-field-poeticsoft-media-publish-telegram {

  .field {
  
    .poeticsoft-media-publish-telegram {

      .selectchannel {

        width: 100%;
        margin: 0 0 var(--s075) 0;
      }

      .button {

        width: 100%;
      }
    }

    .help {

      margin-top: var(--s);
    }
  }
}