/*!*******************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/settingspanel/telegram/main.scss ***!
  \*******************************************************************************************************************************/
/* ****************************
  TODO common root in blocks 
  */
:root {
  /* SIZES */
  --space: 8px;
  --s025: calc(var(--space) * 0.25);
  --s05: calc(var(--space) * 0.5);
  --s075: calc(var(--space) * 0.75);
  --s: var(--space);
  --s15: calc(var(--space) * 1.5);
  --s2: calc(var(--space) * 2);
  --s3: calc(var(--space) * 3);
  --s4: calc(var(--space) * 4);
  --s5: calc(var(--space) * 5);
  --s6: calc(var(--space) * 6);
  --s7: calc(var(--space) * 7);
  --s8: calc(var(--space) * 8);
  --s9: calc(var(--space) * 9);
  --s10: calc(var(--space) * 10);
  --s12: calc(var(--space) * 12);
  --s14: calc(var(--space) * 14);
  --s16: calc(var(--space) * 16);
  --s18: calc(var(--space) * 18);
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-bg: #f2faff;
  --color-borders: #69a1eb;
  --color-selected: #ff682c;
  --color-error: #f13800;
}

body .components-modal__screen-overlay .RulesCalendar {
  min-width: 300px;
  max-width: none;
}
body .components-modal__screen-overlay .RulesCalendar .components-modal__content {
  margin-top: 48px;
  padding: 0 var(--s2) var(--s2);
}
body .components-modal__screen-overlay .RulesCalendar .components-modal__content .components-modal__header {
  height: var(--s6);
  padding: 0 var(--s2);
}
body .components-modal__screen-overlay .RulesCalendar .components-modal__content .RulesCalendar .Calendar {
  min-height: 330px;
  overflow: auto;
  margin: 0 0 var(--s) 0;
  border: solid var(--color-borders);
  border-width: 1px 0;
  padding: var(--s) 0;
}
body .components-modal__screen-overlay .RulesCalendar .components-modal__content .RulesCalendar .Calendar .CalendarWithEvents .Navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--s);
  padding: 0 var(--s);
}
body .components-modal__screen-overlay .RulesCalendar .components-modal__content .RulesCalendar .Calendar .CalendarWithEvents .Navigation .CurrentMonth {
  font-weight: bold;
}
body .components-modal__screen-overlay .RulesCalendar .components-modal__content .RulesCalendar .Calendar .CalendarWithEvents .Grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: var(--s05);
  text-align: center;
  user-select: none;
}
body .components-modal__screen-overlay .RulesCalendar .components-modal__content .RulesCalendar .Calendar .CalendarWithEvents .Grid .DayName {
  font-weight: bold;
  padding: var(--s05) 0;
}
body .components-modal__screen-overlay .RulesCalendar .components-modal__content .RulesCalendar .Calendar .CalendarWithEvents .Grid .DayMonth {
  padding: var(--s);
  border-radius: var(--s05);
  background-color: transparent;
  color: var(--color-borders);
  cursor: default;
  user-select: none;
  border: 1px solid var(--color-borders);
}
body .components-modal__screen-overlay .RulesCalendar .components-modal__content .RulesCalendar .Calendar .CalendarWithEvents .Grid .DayMonth.WithEvents {
  cursor: pointer;
  background-color: var(--color-borders);
  color: var(--color-light);
}
body .components-modal__screen-overlay .RulesCalendar .components-modal__content .RulesCalendar .Calendar .CalendarWithEvents .Grid .DayMonth.Selected {
  color: var(--color-light);
  background-color: var(--color-selected);
}
body .components-modal__screen-overlay .RulesCalendar .components-modal__content .RulesCalendar .Tools {
  display: flex;
  justify-content: flex-end;
}

.components-popover__fallback-container .CalendarDayDetail {
  cursor: pointer;
}
.components-popover__fallback-container .CalendarDayDetail .components-popover__content .Detail {
  width: 180px;
}
.components-popover__fallback-container .CalendarDayDetail .components-popover__content .Detail .Title {
  padding: var(--s) var(--s2);
  background-color: var(--color-borders);
  color: var(--color-light);
}
.components-popover__fallback-container .CalendarDayDetail .components-popover__content .Detail .Events {
  padding: var(--s) var(--s2) var(--s2);
}
.components-popover__fallback-container .PopOverDateFrom .components-popover__content,
.components-popover__fallback-container .PopOverDateTo .components-popover__content {
  padding: var(--s2);
}

.components-panel__body.poeticsoft-post-settings-telegram {
  background-color: var(--color-bg);
}
.components-panel__body.poeticsoft-post-settings-telegram .components-panel__body-title {
  margin-bottom: var(--s);
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishNow {
  padding: var(--s2) var(--s2) var(--s);
  border: 1px solid var(--color-borders);
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishNow .Title {
  font-weight: bold;
  border: dotted var(--color-borders);
  border-width: 0 0 1px 0;
  padding: 0 0 var(--s) 0;
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishNow .components-base-control {
  padding: var(--s) 0 0;
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishNow .components-base-control .components-base-control__field,
.components-panel__body.poeticsoft-post-settings-telegram .PublishNow .components-base-control .components-base-control__help {
  margin-bottom: 0;
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishNow .components-base-control .WherePublish {
  width: 100%;
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishNow .components-base-control .WherePublish .components-input-control__container .components-select-control__input {
  height: var(--s7);
  padding: var(--s);
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishNow > .components-button {
  width: 100%;
  justify-content: center;
  margin: var(--s2) 0 0 0;
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishNow .Message {
  color: var(--color-error);
  padding: var(--s) 0 0 0;
  font-size: 0.9em;
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishRules {
  margin: var(--s2) 0 0 0;
  padding: var(--s2);
  border: 1px solid var(--color-borders);
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishRules > .components-base-control {
  border: dotted var(--color-borders);
  border-width: 0 0 1px 0;
  margin: 0 0 var(--s15) 0;
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishRules > .components-base-control .components-checkbox-control__label {
  font-weight: bold;
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishRules > .components-base-control .components-base-control__help {
  margin-bottom: var(--s);
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishRules .Manage .Rules {
  display: flex;
  justify-content: flex-end;
  gap: var(--s05);
  flex-wrap: wrap;
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishRules .Manage .Rules > .components-base-control {
  width: 100%;
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishRules .Manage .Rules > .components-base-control .components-base-control__field {
  margin-bottom: 0;
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishRules .Manage .Rules button {
  height: fit-content;
  padding: 7px 12px 8px;
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishRules .Manage .Rule {
  margin: var(--s) 0 0 0;
  border: dotted var(--color-borders);
  border-width: 1px 0 0 0;
  padding: var(--s) 0 0 0;
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishRules .Manage .Rule .RuleActive {
  margin: 0 0 var(--s2) 0;
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishRules .Manage .Rule .DateFrom .Date label,
.components-panel__body.poeticsoft-post-settings-telegram .PublishRules .Manage .Rule .DateTo .Date label {
  display: block;
  margin: 0 0 var(--s05) 0;
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishRules .Manage .Rule .DateFrom .Date button,
.components-panel__body.poeticsoft-post-settings-telegram .PublishRules .Manage .Rule .DateTo .Date button {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishRules .Manage .Rule .DateTo {
  margin: var(--s) 0 0 0;
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishRules .Manage .Rule .components-input-control__container .components-select-control__input[multiple] {
  height: var(--s7);
  padding: var(--s);
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishRules .Manage .Rule .WeekDay {
  margin: var(--s2) 0 0 0;
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishRules .Manage .Rule .WeekDay label {
  text-transform: none;
  font-size: 13px !important;
  font-weight: 400 !important;
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishRules .Manage .Rule .WeekDay select {
  height: var(--s18) !important;
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishRules .Manage .Rule .HourMinute {
  margin: var(--s2) 0 0 0;
  display: flex;
  gap: var(--space);
  justify-content: space-between;
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishRules .Manage .Rule .HourMinute .components-base-control {
  flex: 1;
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishRules .Manage .Rule .HourMinute .components-base-control .components-base-control__field {
  margin-bottom: 0;
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishRules .Manage .Rule .HourMinute .components-base-control .components-base-control__field .components-select-control {
  display: flex;
  gap: var(--s05);
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishRules .Manage .Rule .HourMinute .components-base-control .components-base-control__field .components-select-control .components-flex-item {
  flex: 0.8;
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishRules .Manage .Rule .HourMinute .components-base-control .components-base-control__field .components-select-control .components-input-control__container {
  flex: 1.2;
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishRules .Manage .Rule .HourMinute .components-base-control .components-base-control__field .components-select-control .components-input-control__container .components-select-control__input {
  height: auto;
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishRules .Manage .Rule .HourMinute .components-base-control .components-base-control__field .components-select-control.Minute .components-flex-item {
  flex: 0.8;
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishRules .Manage .Rule .HourMinute .components-base-control .components-base-control__field .components-select-control.Minute .components-flex-item label {
  padding: var(--s075);
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishRules .Manage .UsePublishRules {
  margin: var(--s2) 0 0;
  border: solid var(--color-borders);
  border-width: 1px 0 0 0;
}
.components-panel__body.poeticsoft-post-settings-telegram .PublishRules .Manage .UsePublishRules button {
  margin: var(--s2) 0 0;
  width: 100%;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map*/